.conclusion__title {
	font-family: Bad Script;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	white-space: pre;
	margin: auto;
}