.conclusion__icon_position_left {
	position: absolute;
	bottom: 150px;
	left: -44px;
	width: 164.1px;
	height: 163.95px;
}

@media screen and (max-width: 779px) {
  .conclusion__icon_position_left {
    bottom: 0px;
    left: -60px;
    width: 52px;
    height: 51.95px;
  }
}
