.info__title_position_center {
  position: absolute;
	top: calc(50% - 115px);
	left: calc(50% - 170px);;
}

@media screen and (max-width: 1919px) {
  .info__title_position_center {
    top: calc(50% - 125px);
    left: calc(50% - 170px);;
  }
}

@media screen and (max-width: 779px) {
  .info__title_position_center {
    top: calc(50% - 75px);
    left: calc(50% - 105px);;
  }
}
