.card__title_text_interval {
  margin: 35px auto 50px;
}

@media screen and (max-width: 1919px) {
  .card__title_text_interval {
    margin: 0px auto 50px;
  }
}

@media screen and (max-width: 779px) {
  .card__title_text_interval {
    margin: 25px auto 25px;
    letter-spacing: 0.1em;
  }
}
