.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1920px;
  margin: auto;
}

.root::before {
	content: '';
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-image: url(../../images/fon.svg);
	background-repeat: no-repeat;
}
