.info__container {
  width: 100%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1919px) {
  .info__container {
    margin: 0px auto 130px;
  }
}


@media screen and (max-width: 779px) {
  .info__container {
    margin: 0px auto 22px;
  }
}
