.info {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 1440px;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 75px auto auto auto;
}

@media screen and (max-width: 1439px) {
  .info {
    max-width: 1050px;
  }
}

@media screen and (max-width: 1079px) {
  .info {
    max-width: 780px;
  }
}

@media screen and (max-width: 779px) {
  .info {
    margin: 35px auto auto auto;
  }
}
