.intro__profile {
	display: block;
	position: relative;
	width: 344px;
	height: 344px;
	margin: 80px auto 10px;
}

@media screen and (max-width: 779px) {
  .intro__profile {
    margin: 34px auto 0px;
    width: 198.59px;
    height: 198.51px;
  }
}
